<form id='filesForm' onsubmit='return sendFilesToQueue(event);'>
  {{#each files}}
    <input
      id='file{{@index}}'
      type='checkbox'
      name='file{{@index}}'
      value='{{this.Key}}'
    />
    <label for='file{{@index}}'>{{this.Key}}</label>
    <button
      id='button{{@index}}'
      type='button'
      onclick='showContent(this.value)'
      value='{{this.Key}}'
    >Show contents</button>
    <br />
  {{/each}}
  <br />
  <input type='submit' value='Do work' />
</form>
<div id='resultContainer'>
</div>
<div id='contentContainer'>
</div>
<h2>Professional s3 file form</h2>
<form id="s3Form" onsubmit="return sendFileToS3(event);">
  <label class='formlabel' for='fileInput'>Choose a text file, which will be
    send to s3</label>
  <input id='fileInput' name='fileInput' type='file' accept=".txt" />
  <br />
  <input type='submit' />
</form>
<div id='resultContainerFileSend'>
</div>